<ion-view view-title="Accueil">
  <ion-content class="padding" >
    <h2>La chasse aux trésors</h2>
    <p>
    L’AssoM est une association étudiante loi 1901 à but non lucratif qui a pour but de dynamiser la vie étudiante de notre chère cité phocéenne.
    <br>
    <br>
    Elle réunit des BDE (Bureaux des Étudiants) d’Aix-Marseille quelle que soit leur filière afin d’organiser
    des événements culturels et sportifs.

    </p>
    <dl>À ce jour, l’AssoM, c’est :
      <li>1 congrès</li>
      <li>1 journée culturelle (« AssoM Art Festival »)</li>
      <li>1 concours de cuisine (« AssoM Chef »)</li>
      <li>2 concours photos</li>
      <li>2 chasses aux trésors (« Rush »)</li>
      <li>3 tournois de football en salle (« Futsal »)</li>
      <li>4 participations au Carnaval de Marseille</li>
      <li>5 tournois sportifs (« AssoMiades »)</li>
      <li>5 scènes en pleine air pour la Fête de la Musique</li>
      <li>18 soirées Inter-Assos</li>
      <span class="ion-arrow-right-c"> Nous sommes toujours à la recherche de nouvelles idées pour embellir la vie des étudiants de Marseille</span>
      <br><span class="ion-arrow-right-c"> et de sa région !</span>
    </dl>
  </ion-content>
</ion-view>