	<ion-view view-title="Soirée InterAsso" hide-nav-bar="false" >
		<ion-content delegate-handle="top" lazy-scroll  id="page-soire_interasso" class="page-soire_interasso">
		<div class="card">
<div class="item item-text-wrap">
<h1><img src="data/images/Images/interasso/interasso.jpg" alt="" width="100%" /><br /><br />La soir&eacute;e des &eacute;coles !</h1>
<p><br />C'est une institution &agrave; Marseille, deux fois par an&nbsp;depuis 10 ans&nbsp;a lieu la soir&eacute;e InterAsso de l'AssoM. Pour cette occasion, toutes les &eacute;coles de marseille pr&eacute;pare leurs costumes et leurs bars en fonction du th&egrave;me qu'elles ont choisi.<br /><br />Rassemblant entre 4000 et 8000 &eacute;tudiants selon les &eacute;ditions, cette soir&eacute;e est le lieu de rassemblement de toutes les &eacute;coles de la r&eacute;gion d'Aix-Marseille, de la petite formation sp&eacute;cialis&eacute;e au grand campus universitaire.<br /><br />Tarif et musique &eacute;tudiants sont &agrave; l'honneurs et vous garantissent de passer une excellente soir&eacute;e en compagnie de tous les &eacute;tudiants b&eacute;n&eacute;voles qui viennent de toutes les &eacute;coles pour apporter leurs aides &agrave; la r&eacute;ussite de cette soir&eacute;e.<br /><br /><br /></p>
</div>
</div>
		</ion-content>
	</ion-view>
