	<ion-view view-title="AssoM RUSH" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-assom_rush" class="page-assom_rush">
		<div class="card">
<div class="item item-text-wrap">
<h1>Jeu de piste !</h1>
<p><br />L'AssoM Rush est un jeu de piste m&eacute;langeant &eacute;nigme et course d'orientation &agrave; travers toute la r&eacute;gion d'Aix-Marseille. <br /><br />&Eacute;tal&eacute;e sur plusieurs semaines, c'est l'occasion pour tous de d&eacute;couvrir de nouveaux endroits tout en s'amusant.<br /><br />Les tr&eacute;sors, des disques de plastiques, peuvent &ecirc;tre &eacute;chang&eacute;s contre des lots.</p>
</div>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
