	<ion-view view-title="Apér'AssoM" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-aprassom" class="page-aprassom">
		<div class="card">
<br />
<h1>Un lieu de rencontre !</h1>
<p><br />L'apéro AssoMien, c'est l'occasion pour tous le monde de se rencontrer, assomien, étudiant marseillais ou d'autres villes. <br /><br />Une belle opportunité de partager un bon moment et de découvrir de nouvelles personnes et surtout l'AssoM !</p>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
