	<ion-view view-title="Soirée InterAsso" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-soire_interasso" class="page-soire_interasso">
		<div class="card">
<div class="item item-text-wrap">
<h1><img src="data/images/images/interasso/interasso.jpg" alt="" width="100%" /><br /><br />La soirée des écoles !</h1>
<p><br />C'est une institution à Marseille, deux fois par an depuis 10 ans a lieu la soirée InterAsso de l'AssoM. Pour cette occasion, toutes les écoles de marseille prépare leurs costumes et leurs bars en fonction du thème qu'elles ont choisi.<br /><br />Rassemblant entre 4000 et 8000 étudiants selon les éditions, cette soirée est le lieu de rassemblement de toutes les écoles de la région d'Aix-Marseille, de la petite formation spécialisée au grand campus universitaire.<br /><br />Tarif et musique étudiants sont à l'honneurs et vous garantissent de passer une excellente soirée en compagnie de tous les étudiants bénévoles qui viennent de toutes les écoles pour apporter leurs aides à la réussite de cette soirée.<br /><br /><br /></p>
</div>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
