	<ion-view view-title="AssoMiades" hide-nav-bar="false" >
		<ion-content delegate-handle="top" lazy-scroll  id="page-assomiades" class="page-assomiades">
		<div class="card">
<div class="item item-text-wrap">
<h1><img src="data/images/images/assomiades/assomiades.png" alt="" width="100%" /><br /><br />Soyons sport !</h1>
<p><br />Le sport c'est la santé et l'AssoM ne déroge pas à la règle depuis plus de 7 ans en proposant une journée consacré au sport de tous types : football, basket, tennis, volley, handball, gymnastique, pétanque....<br /><br />C'est l'occasion de se dégourdire un peu les jambes après un printemps riche en événement.</p>
</div>
</div>
		</ion-content>
	</ion-view>
