	<ion-view view-title="AssoMiades" hide-nav-bar="false" >
		<ion-content delegate-handle="top" lazy-scroll  id="page-assomiades" class="page-assomiades">
		<div class="card">
<div class="item item-text-wrap">
<h1><img src="data/images/Images/assomiades/assomiades.png" alt="" width="100%" /><br /><br />Soyons sport !</h1>
<p><br />Le sport c'est la sant&eacute; et l'AssoM ne d&eacute;roge pas &agrave; la r&egrave;gle depuis plus de 7 ans en proposant une journ&eacute;e consacr&eacute; au sport de tous types : football, basket, tennis, volley, handball, gymnastique, p&eacute;tanque....<br /><br />C'est l'occasion de se d&eacute;gourdire un peu les jambes apr&egrave;s un printemps riche en &eacute;v&eacute;nement.</p>
</div>
</div>
		</ion-content>
	</ion-view>
