	<ion-view view-title="AssoM Chef" hide-nav-bar="false" >
		<ion-content delegate-handle="top" lazy-scroll  id="page-assom_chef" class="page-assom_chef">
		<div class="card">
<div class="item item-text-wrap">
<h1><br /><img src="data/images/Images/assomchef/assomchef.jpg" alt="" width="100%" /><br /><br />Le concours de cuisine étudiant !</h1>
<p><br />Depuis 3 ans, l'AssoM organise le plus grand concours de cuisine étudiant de France. Plus de 200 participants s'affrontent dans le chocolat et la bonne humeur pour préparer leurs meilleurs plats qui seront ensuites notés par des chefs étoilés.<br /><br />Ouvert à tous les étudiants, ce concours permet à tous de préparer des plats en s'amuse, pour le meilleur ou pour le pire....</p>
</div>
</div>
		</ion-content>
	</ion-view>
