	<ion-view view-title="Apér'AssoM" hide-nav-bar="false" >
		<ion-content delegate-handle="top" lazy-scroll  id="page-aprassom" class="page-aprassom">
		<div class="card">
<div class="item item-text-wrap"><img src="data/images/images/aperassom/aperassom.jpg" width="100%" caption="false" /><br />
<h1>Un lieu de rencontre !</h1>
<p><br />L'ap&eacute;ro AssoMien, c'est l'occasion pour tous le monde de se rencontrer, assomien, &eacute;tudiant marseillais ou d'autres villes. <br /><br />Une belle opportunit&eacute;&nbsp;de partager un bon moment et de d&eacute;couvrir de nouvelles personnes et surtout l'AssoM !</p>
</div>
</div>
		</ion-content>
	</ion-view>
