<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{calendar.jour}} {{calendar.dateTxt}}">
  <ion-content class="padding">
    <div class="card  item-calendar">
      <div class="item item-divider">
        Indice n° {{calendar.numIndice}}
      </div>
      <div class="item item-text-wrap">
    	 <img class="img-day" src="img/{{calendar.img}}"/>
      </div>
    </div>
    <div class="card  item-calendar">
      <div class="item item-divider">
        Indice n° {{calendar.numIndice + 1}}
      </div>
      <div class="item item-text-wrap">
       <img class="img-day" src="img/{{calendar.img}}"/>
      </div>
    </div>
  </ion-content>
</ion-view>